#set($level1="内部工具")
#set($level2="应用管理")
#set($level2Url="/manage/app/queryApp2.htm")

#set($layout="layout/newLayout.vm")


<div class="full">
     <form class="form-horizontal">
    <div class="control-group">
    <label class="control-label" for="inputEmail">应用名称</label>
    <div class="controls">
    <input type="text" id="inputEmail" name="newApp" placeholder="appName" required>
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputPassword">管理员</label>
    <div class="controls">
    <input type="text" id="inputPassword" name="admins" placeholder="花名">
    </div>
    </div>
	
    <div class="control-group">
    <div class="controls">
    <button type="submit" class="btn">添加应用</button>
    </div>
	
    </div>
    </form>
		
</div><!-- /.container -->
