#set($level1="资源管理")
#if ( $app )
#set($level2="$app")
#set($level2Url="/apps/detail.htm?app=$app")
#end
#set($layout="layout/newLayout.vm")
<div class="ml20">
	#if($!flag)
删除资源成功！
#else
删除资源失败！
	#end
	</div>